@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: avenir;
  }
  input,
  select,
  button,
  textarea,
  label,
  option {
    font-family: avenir;
  }
  :root{
    --main-color: #dd2803;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProLight.otf);
    font-weight: 200;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProRoman.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProHeavy.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProBlack.otf);
    font-weight: 600;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Light.ttf);
    font-weight: 200;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Regular.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Medium.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Bold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Black.ttf);
    font-weight: 900;
  }

  .header {
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 20px;
    &__logo {
      margin-right: auto;
      font-family: barlow;
      font-weight: 600;
      font-size: 18px;
      color: var(--main-color);
      text-decoration: none;
    }
    &__logo-star{
      color: black;
      font-size: 10px;
    }
    &__nav{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
    &__cart-logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
    }
    &__cart-img{
      width: 30px;
    }
    &__cart-item-quantity{
      font-weight: 200;
      align-self: flex-end;
      color: var(--main-color);
    }
    &__burger-bars{
      font-size: 24px;
      color: var(--main-color);
      cursor: pointer;
    }

    //cart styles

    &__cart-container{
      position: fixed;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      z-index: 11;
      top:0;
      left: 0;
      background-color: white;
      padding: 20px 20px 20px;
      transform: translateX(100%);
      transition: transform .3s ease-in-out;
      &--open{
        transform: translateX(0);
        transition: transform .3s ease-in-out;
      }
    }
    &__cart-text{
      font-size: 20px;
      font-family: barlow;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
    }
    &__cart-items-quantity{
      font-weight: 200;
      font-family: avenir;
      font-size: 16px;
      align-self: flex-end;
    }
    &__dark-bg{
      position: fixed;
      width: 100%;
      height: 100svh;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
    }
    &__cart-xmark{
      margin-left: auto;
      cursor: pointer;
      &:hover{
        color:rgb(103, 103, 103)
      }
    }
    &__cart-strip{
      width: 100%;
      height: 1px;
      background-color: rgb(103, 103, 103);
      margin-top: 20px;
    }
    &__empty-cart-text{
      font-size: 20px;
      font-weight: 200;
      text-align: center;
      margin-top: 170px;
    }

    //burger menu styles

    &__menu{
      position: fixed;
      top:0;
      left: 0;
      z-index: 11;
      background-color: white;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      transform: translateY(-100%);
      transition: transform .3s ease-in-out;
      display: block;
      &--open{
        transform: translateY(0);
        transition: transform .3s ease-in-out;
      }
    }
    &__menu-xmark{
      color: var(--main-color);
      font-size: 24px;
      position: absolute;
      right: 20px;
      top: 26px;
      cursor: pointer;
    }
    &__login{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      margin-top: 60px;
      margin-bottom: 40px;
      &--desktop{
        display: none;
      }
    }
    &__user-icon{
      color: var(--main-color);
      font-size: 24px;
    }
    &__login-text{
      color: var(--main-color);
      font-size: 18px;
      font-weight: 200;
      
    }
    &__ul{
      list-style: none;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 35px;
      overflow-y: auto;
      &--desktop{
        display: none;
      }
    }
    &__link{
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-family: barlow;
      font-weight: 600;
      &--active{
        color: var(--main-color);
      }
    }
    &__order-link-container{
      display: none;
    }
  }

  .hero{
    height: calc(100svh - 80px);
    margin-top: 80px;
    background-image: url(./images/main-hero.avif);
    background-size: cover;
    background-position: center;
    background-color: #FBE690;
    padding: 30px 20px;
    &__delivery-text{
      font-family: barlow;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__add-text{
      font-family: barlow;
      font-size: 42px;
      font-weight: 600;
      color: var(--main-color);
      margin-bottom: 20px;
    }
    &__order-btn{
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      color:white;
      font-size: 16px;
      font-weight: 200;
      width: 180px;
      height: 50px;
      transition: .3s;
      cursor: pointer;
      &:hover{
        background-color: white;
        transition: .3s;
      }
      &:hover .hero__link{
        color: var(--main-color);
        transition: .3s;
      }
    }
    &__link{
      color: white;
      text-decoration: none;
      transition: .3s;    
    }
  }

  .order{
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &__card{
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }
    &__image{
      width: 60px;
    }
    &__method{
      font-size: 18px;
      font-family: barlow;
      font-weight: 600;
    }
    &__method-info{
      text-align: center;
      font-size: 15px;
      font-weight: 200;
      line-height: 24px;
    }
  }

  .small-ad{
    height: 27svh;
    background-color: #F9F2EA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    &__upper{
      font-size: 28px;
      font-family: barlow;
      color: var(--main-color);
      font-weight: 600;
    }
    &__lower{
      font-size: 28px;
      font-family: barlow;
      color: var(--main-color);
      font-weight: 600;
    }
  }

  .favorites{
    background-color: white;
    min-height: calc(100svh - 80px);
    padding: 30px 0 30px;
    &__text-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-inline: 30px;
      margin-bottom: 40px;
    }
    &__star{
      width: 42px;
    }
    &__main-text{
      text-align: center;
      font-size: 26px;
      font-family: barlow;
      font-weight: 600;
    }
    &__container{
      background-color: white;
      padding-inline: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__img{
      width: 100%;
      object-fit: cover;
      background-color: #F9F2EA;
    }
    &__product-name{
      text-align: center;
      font-family: barlow;
      font-weight: 600;
      font-size: 20px;
    }
    &__button{
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      width: 200px;
      height: 50px;
      display: block;
      margin: 30px auto 0;
      cursor: pointer;
      transition: .3s;
      &:hover .favorites__link{
        color: var(--main-color);
        transition: .3s;
      }
      &:hover{
        background-color: transparent;
        transition: .3s;
      }
    }
    &__link{
      color: white;
      font-size: 16px;
      text-decoration: none;
      font-weight: 200;
      transition: .3s;
    }
  }

  .special{
    min-height: 100svh;
    padding: 5svh 0 5svh;
    background-color: #F9F2EA;
    &__main-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: white;
      padding: 30px 30px 30px;
      gap: 20px;
    }
    &__text-container{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    &__star{
      width: 42px;
    }
    &__main-text{
      font-size: 26px;
      font-weight: 600;
      font-family: barlow;
      text-align: center;
      width: 160px;
    }
    &__text{
      font-size: 18px;
      font-family: barlow;
      font-weight: 600;
    }
    &__paragraph{
      font-size: 15px;
      font-weight: 200;
      text-align: center;
      line-height: 25px;
    }
    &__image{
      width: 100%;
      height: 80vw;
      object-fit: cover;
    }
  }
  .delivery{
    height: 70svh;
    &__main-container{
      width: 100%;
      height: 100%;
      background-image: url(./images/main-pack.avif);
      background-size: cover;
      background-position: -220px 150px;
      background-repeat: no-repeat;
      background-color: #FBE690;
    }
    &__text-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      padding: 30px 50px 30px;
    }
    &__header{
      font-size: 26px;
      font-family: barlow;
      font-weight: 600;
      text-align: center;
    }
    &__subtitle{
      font-family: barlow;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    &__paragraph{
      font-weight: 200;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
    }
    &__order-btn{
      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      color: white;
      font-size: 16px;
      width: 180px;
      height: 50px;
      font-weight: 200;
      cursor: pointer;
      margin-top: auto;
      transition: .3s;
      &:hover{
        color: var(--main-color);
        background-color: white;
        transition: .3s;
      }
      &:hover .delivery__link{
        color: var(--main-color);
        transition: .3s;
      }
    }
    &__link{
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 200;
      transition: .3s;
    }
  }
  .slider{
    background-color: #F9F2EA;
    padding: 20px;
    &__header{
      font-weight: 600;
      font-size: 26px;
      font-family: barlow;
      text-align: center;
      margin-bottom: 20px;
    }
    &__grid-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(0, 40vw);
    }
    &__image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
  }
}






@media screen and (min-width: 768px){
  .header{
    &__menu{
      width: 300px;
      right: 0;
      left: unset;
      transform: translateX(101%);
      border-left: 1px solid rgb(200, 200, 200);
      &--open{
        transform: translateX(0);
      }
    }
    &__cart-container{
      width: 425px;
      left: unset;
      right: 0;
      border-left: 1px solid rgb(200, 200, 200);
      
    }
  }


  .order{
    padding: 30px 0 30px;
    &__card{
      width: 400px;
      gap: 22px;
    }
    &__image{
      width: 60px;
    }
    &__method{
      font-size: 22px;
    }
    &__method-info{
      font-size: 18px;
      line-height: 28px;
    }
  }

  .small-ad{
    height: 32svh;
    &__upper{
      font-size: 36px;
    }
    &__lower{
      font-size: 36px;
    }
  }

  .favorites{
    padding: 50px 0 40px;
    &__text-container{
      gap: 24px;
    }
    &__star{
      width: 50px;
    }
    &__main-text{
      font-size: 40px;
    }
    &__container{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card{
      width: 350px;
    }

    &__button{
      margin: 40px auto 0;
    }
  }

  .special{
    min-height: unset;
    height: 80svh;
    padding: 90px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__main-container{
      height: 100%;
      width: 45%;
    }
    &__text-container{
      padding: 40px 40px 0;
    }
    
    &__image{
      height: 100%;
      width: 45%;
    }
  }
  .delivery{
    height: 60svh;
    padding: 0 50px 0;
    background-color: #F9F2EA;
    &__main-container{
      background-position: -100px 100px;
    }
  }
}








@media screen and (min-width: 1024px){
  .header{
    padding-inline: 80px 100px;
    &__nav{
      gap: 40px;
    }
    &__ul{
      &--desktop{
        flex-direction: row;
        display: flex;
      }
    }
    &__link{
      &--desktop{
        font-weight: 200;
        font-family: avenir;
        transition: .4s;
        &:hover{
          color: var(--main-color);
          transition: .4s;
        }
      }
    }
    &__login{
      &--desktop{
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
        display: flex;
      }
    }
    &__burger-bars{
      display: none !important;
    }
    &__menu{
      display: none !important;
      &--open{
        display: none !important;
      }
    }
    &__order-link-container{
      background-color: var(--main-color);
      transform: rotate(90deg) translate(30%, -75%);
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__order-link{
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
    }
  }

  .hero{
    padding: 100px 85px;
    &__delivery-text{
      font-size: 52px;
      margin-bottom: 20px;
    }
    &__add-text{
      font-size: 120px;
      width: 725px;
      margin-bottom: 35px;
    }
    &__order-btn{
      height: 60px;
      width: 200px;
    }
    &__link{
      font-size: 18px;
    }
  }


  .order{
    padding-inline: 0;
    background-color: #F9F2EA;
    flex-direction: row;
    height: 70vh;
    gap: 60px;
    &__card{
      background-color: white;
      padding: 0 95px 0;
      height: 420px;
    }
    &__image{
      width: 70px;
    }
  }

  .small-ad{
    height: 44vh;
    padding-bottom: 90px;
    gap: 0;
    &__upper{
      font-size: 80px;
    }
    &__lower{
      font-size: 80px;
    }
  }

  .favorites{
    padding: 50px 0 30px;
    &__text-container{
      margin-bottom: 65px;
    }
    &__container{
      gap: 40px;
      transform: translateY(70%);
      opacity: 0;
    }
    &__card{
      gap: 20px;
    }
    &__product-name{
      font-size: 22px;
    }
    &__button{
      margin-top: 90px;
      width: 230px;
      height: 60px;
    }
    &__link{
      font-size: 18px;
    }
  }
  .animate{
    animation: moveCardsUp .7s ease-out forwards;
  }
  @keyframes moveCardsUp {
    100%{transform: translateY(0);
      opacity: 1;}
  }

  .special{
    height: 80vh;
    padding: 90px 80px;
    &__main-container{
      gap: 40px;
    }
    &__text-container{
      gap: 30px;
    }
    &__star{
      width: 52px;
    }
    &__main-text{
      font-size: 40px;
      width: 222px;
    }
    &__text{
      font-size: 22px;
    }
    &__paragraph{
      font-size: 18px;
      width: 350px;
      line-height: 30px;
    }
  }
  .delivery{
    height: 60vh;
    padding: 0 80px 0;
    background-color: #F9F2EA;
    &__main-container{
      background-position: 0px 50px;
    }
    &__text-container{
      width: 47%;
      margin-left: auto;
      margin-right: 20px;
      padding: 60px 46px 30px;
      gap: 26px;
    }
    &__header{
      font-size: 40px;
    }
    &__subtitle{
      font-size: 22px;
      line-height: 30px;
    }
    &__paragraph{
      font-size: 18px;
      line-height: 30px;
    }
    &__order-btn{
      height: 62px;
      width: 230px;
      margin-top: unset;
    }
    &__link{
      font-size: 18px;
    }
  }
  .slider{
    padding: 110px 80px 40px;
    position: relative;
    &__header{
      font-size: 40px;
    }
    &__grid-container{
      width: 100%;
      overflow-x: auto;
      grid-template-columns: repeat(8, 27vw);
      grid-auto-rows: minmax(0, 27vw);
      scroll-behavior: smooth;
      &::-webkit-scrollbar{
        display: none;
      }
    }
    &__arrow-container{
      position: absolute;
      background-color: rgba(255, 255, 255, 0.7);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 32%;
      transform: translateY(-50%);
      cursor: pointer;
      &--right{
        right: 110px;
      }
      &--left{
        left: 110px;
      }
    }
    &__arrow{
      font-size: 20px;
      font-weight: 200;
      transform: scaleY(1.8);
    }
  }
}