@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: avenir;
  }
  html {
    scroll-behavior: smooth;
  }
  input,
  select,
  button,
  textarea,
  label,
  option {
    font-family: avenir;
  }
  :root {
    --main-color: #dd2803;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProLight.otf);
    font-weight: 200;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProRoman.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProHeavy.otf);
    font-weight: 500;
  }
  @font-face {
    font-family: avenir;
    src: url(./fonts/avenir-lt-pro/AvenirLTProBlack.otf);
    font-weight: 600;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Light.ttf);
    font-weight: 200;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Regular.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Medium.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Bold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: barlow;
    src: url(./fonts/Barlow/Barlow-Black.ttf);
    font-weight: 900;
  }
  .scroll-up {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 10px;
    color: var(--main-color);
    text-decoration: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  .scroll-up__link {
    transform: rotate(90deg) scaleY(1.6);
    font-weight: 200;
  }
  .header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 20px;
  }
  .header__logo {
    margin-right: auto;
    font-family: barlow;
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
  }
  .header__logo-star {
    color: black;
    font-size: 10px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .header__cart-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
  }
  .header__cart-img {
    width: 30px;
  }
  .header__cart-item-quantity {
    font-weight: 200;
    align-self: flex-end;
    color: var(--main-color);
  }
  .header__burger-bars {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
  }
  .header__cart-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    z-index: 11;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: white;
    padding: 20px 20px 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .header__cart-container--open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .header__cart-product-card {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgb(150, 150, 150);
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__card-product-image {
    height: 88%;
    width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-right: 1px solid rgb(150, 150, 150);
    padding-right: 12px;
    flex: 0 0 40%;
  }
  .header__card-right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 88%;
    flex: 1;
  }
  .header__card-price {
    color: rgb(0, 95, 0);
    font-weight: 600;
    font-size: 18px;
  }
  .header__card-product-name {
    font-size: 20px;
    font-weight: 600;
    font-family: barlow;
  }
  .header__card-quantity-container {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .header__card-quantity-button {
    cursor: pointer;
    width: 24px;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    font-family: barlow;
    background-color: #F9F2EA;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 5px;
  }
  .header__card-quantity {
    font-size: 16px;
  }
  .header__card-delete-btn {
    background-color: darkred;
    border: none;
    color: #F9F2EA;
    font-family: barlow;
    font-size: 16px;
    margin-top: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  .header__cart-text {
    font-size: 20px;
    font-family: barlow;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  .header__cart-items-quantity {
    font-weight: 200;
    font-family: avenir;
    font-size: 16px;
    align-self: flex-end;
  }
  .header__dark-bg {
    position: fixed;
    width: 100%;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  .header__cart-xmark {
    margin-left: auto;
    cursor: pointer;
  }
  .header__cart-xmark:hover {
    color: rgb(103, 103, 103);
  }
  .header__cart-strip {
    width: 100%;
    height: 1px;
    background-color: rgb(103, 103, 103);
    margin-top: 20px;
  }
  .header__empty-cart-text {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 170px;
    font-family: barlow;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: white;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: block;
  }
  .header__menu--open {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  .header__menu-xmark {
    color: var(--main-color);
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 26px;
    cursor: pointer;
  }
  .header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .header__login--desktop {
    display: none;
  }
  .header__user-icon {
    color: var(--main-color);
    font-size: 24px;
  }
  .header__login-text {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 200;
  }
  .header__ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    overflow-y: auto;
  }
  .header__ul--desktop {
    display: none;
  }
  .header__link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: barlow;
    font-weight: 600;
  }
  .header__link--active {
    color: var(--main-color);
  }
  .header__order-link-container {
    display: none;
  }
  .header__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header__user-name {
    color: var(--main-color);
    font-family: barlow;
  }
  .login {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100dvh;
    transform: translateY(-100%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    gap: 20px;
  }
  .login--show {
    display: flex !important;
    transform: translateY(0);
  }
  .login__xmark {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .login__header {
    font-size: 26px;
  }
  .login__input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .login__label {
    font-weight: 200;
    font-size: 14px;
  }
  .login__input {
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 12px 6px;
    font-weight: 200;
  }
  .login__forgot-text {
    align-self: flex-end;
    font-weight: 200;
    cursor: pointer;
    font-size: 14px;
  }
  .login__submit-btn {
    font-size: 14px;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    height: 36px;
    transition: 0.3s;
  }
  .login__submit-btn:hover {
    color: var(--main-color);
    background-color: white;
    transition: 0.3s;
  }
  .login__random-text {
    margin-top: 40px;
    font-weight: 200;
    font-size: 13px;
  }
  .login__signup-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .login__background {
    display: none;
  }
  .hero {
    height: calc(100svh - 80px);
    margin-top: 80px;
    background-image: url(./images/main-hero.avif);
    background-size: cover;
    background-position: center;
    background-color: #FBE690;
    padding: 30px 20px;
  }
  .hero__delivery-text {
    font-family: barlow;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .hero__add-text {
    font-family: barlow;
    font-size: 42px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 20px;
  }
  .hero__order-btn {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: 200;
    width: 180px;
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
  }
  .hero__order-btn:hover {
    background-color: white;
    transition: 0.3s;
  }
  .hero__order-btn:hover .hero__link {
    color: var(--main-color);
    transition: 0.3s;
  }
  .hero__link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  .order {
    padding: 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .order__card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .order__image {
    width: 60px;
  }
  .order__method {
    font-size: 18px;
    font-family: barlow;
    font-weight: 600;
  }
  .order__method-info {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    line-height: 24px;
  }
  .small-ad {
    height: 27svh;
    background-color: #F9F2EA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
  }
  .small-ad__upper {
    font-size: 28px;
    font-family: barlow;
    color: var(--main-color);
    font-weight: 600;
  }
  .small-ad__lower {
    font-size: 28px;
    font-family: barlow;
    color: var(--main-color);
    font-weight: 600;
  }
  .favorites {
    background-color: white;
    min-height: calc(100svh - 80px);
    padding: 30px 0 30px;
  }
  .favorites__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-inline: 30px;
    margin-bottom: 40px;
  }
  .favorites__star {
    width: 42px;
  }
  .favorites__main-text {
    text-align: center;
    font-size: 26px;
    font-family: barlow;
    font-weight: 600;
  }
  .favorites__container {
    background-color: white;
    padding-inline: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .favorites__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .favorites__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-color: #F9F2EA;
  }
  .favorites__product-name {
    text-align: center;
    font-family: barlow;
    font-weight: 600;
    font-size: 20px;
  }
  .favorites__button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 200px;
    height: 50px;
    display: block;
    margin: 30px auto 0;
    cursor: pointer;
    transition: 0.3s;
  }
  .favorites__button:hover .favorites__link {
    color: var(--main-color);
    transition: 0.3s;
  }
  .favorites__button:hover {
    background-color: transparent;
    transition: 0.3s;
  }
  .favorites__link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 200;
    transition: 0.3s;
  }
  .special {
    min-height: 100svh;
    padding: 5svh 0 5svh;
    background-color: #F9F2EA;
  }
  .special__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 30px 30px 30px;
    gap: 20px;
  }
  .special__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .special__star {
    width: 42px;
  }
  .special__main-text {
    font-size: 26px;
    font-weight: 600;
    font-family: barlow;
    text-align: center;
    width: 160px;
  }
  .special__text {
    font-size: 18px;
    font-family: barlow;
    font-weight: 600;
  }
  .special__paragraph {
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    line-height: 25px;
  }
  .special__image {
    width: 100%;
    height: 80vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .delivery {
    height: 70svh;
  }
  .delivery__main-container {
    width: 100%;
    height: 100%;
    background-image: url(./images/main-pack.avif);
    background-size: cover;
    background-position: -220px 150px;
    background-repeat: no-repeat;
    background-color: #FBE690;
  }
  .delivery__text-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 30px 50px 30px;
  }
  .delivery__header {
    font-size: 26px;
    font-family: barlow;
    font-weight: 600;
    text-align: center;
  }
  .delivery__subtitle {
    font-family: barlow;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  .delivery__paragraph {
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
  .delivery__order-btn {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
    font-size: 16px;
    width: 180px;
    height: 50px;
    font-weight: 200;
    cursor: pointer;
    margin-top: auto;
    transition: 0.3s;
  }
  .delivery__order-btn:hover {
    color: var(--main-color);
    background-color: white;
    transition: 0.3s;
  }
  .delivery__order-btn:hover .delivery__link {
    color: var(--main-color);
    transition: 0.3s;
  }
  .delivery__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    transition: 0.3s;
  }
  .slider {
    background-color: #F9F2EA;
    padding: 20px;
  }
  .slider__header {
    font-weight: 600;
    font-size: 26px;
    font-family: barlow;
    text-align: center;
    margin-bottom: 20px;
  }
  .slider__arrow-container {
    display: none;
  }
  .slider__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, 40vw);
  }
  .slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    cursor: pointer;
  }
  .footer {
    max-height: 15svh;
    height: 10svh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__text-container {
    font-family: barlow;
    font-size: 15px;
    font-weight: 200;
    color: white;
  }
  .footer__link {
    color: white;
    text-decoration: underline;
    font-weight: 200;
    font-family: barlow;
    white-space: wrap;
  }
}
@media screen and (min-width: 768px) {
  .scroll-up {
    display: none;
  }
  .header__menu {
    width: 300px;
    right: 0;
    left: unset;
    transform: translateX(101%);
    border-left: 1px solid rgb(200, 200, 200);
  }
  .header__menu--open {
    transform: translateX(0);
  }
  .header__cart-container {
    width: 425px;
    left: unset;
    right: 0;
    border-left: 1px solid rgb(200, 200, 200);
  }
  .header__card-product-image {
    width: 50%;
  }
  .order {
    padding: 30px 0 30px;
  }
  .order__card {
    width: 400px;
    gap: 22px;
  }
  .order__image {
    width: 60px;
  }
  .order__method {
    font-size: 22px;
  }
  .order__method-info {
    font-size: 18px;
    line-height: 28px;
  }
  .small-ad {
    height: 32svh;
  }
  .small-ad__upper {
    font-size: 36px;
  }
  .small-ad__lower {
    font-size: 36px;
  }
  .favorites {
    padding: 50px 0 40px;
  }
  .favorites__text-container {
    gap: 24px;
  }
  .favorites__star {
    width: 50px;
  }
  .favorites__main-text {
    font-size: 40px;
  }
  .favorites__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .favorites__card {
    width: 350px;
  }
  .favorites__button {
    margin: 40px auto 0;
  }
  .special {
    min-height: unset;
    height: 80svh;
    padding: 90px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .special__main-container {
    height: 100%;
    width: 45%;
  }
  .special__text-container {
    padding: 40px 40px 0;
  }
  .special__image {
    height: 100%;
    width: 45%;
  }
  .delivery {
    height: 60svh;
    padding: 0 50px 0;
    background-color: #F9F2EA;
  }
  .delivery__main-container {
    background-position: -100px 100px;
  }
  .footer__text-container {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding-inline: 80px 100px;
  }
  .header__nav {
    gap: 40px;
  }
  .header__ul--desktop {
    flex-direction: row;
    display: flex;
  }
  .header__link--desktop {
    font-weight: 200;
    font-family: avenir;
    transition: 0.4s;
  }
  .header__link--desktop:hover {
    color: var(--main-color);
    transition: 0.4s;
  }
  .header__login--desktop {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    display: flex;
  }
  .header__burger-bars {
    display: none !important;
  }
  .header__menu {
    display: none !important;
  }
  .header__menu--open {
    display: none !important;
  }
  .header__order-link-container {
    background-color: var(--main-color);
    transform: rotate(90deg) translate(30%, -75%);
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__order-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
  }
  .header__user-image {
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
  }
  .header__user-name {
    color: var(--main-color);
    font-family: barlow;
  }
  .login {
    padding: 20px 50px;
    width: 50%;
    height: 480px;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -210%);
    opacity: 0;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: 0.7s;
  }
  .login--show {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.7s;
  }
  .login__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
  }
  .hero {
    padding: 100px 85px;
  }
  .hero__delivery-text {
    font-size: 52px;
    margin-bottom: 20px;
  }
  .hero__add-text {
    font-size: 120px;
    width: 725px;
    margin-bottom: 35px;
  }
  .hero__order-btn {
    height: 60px;
    width: 200px;
  }
  .hero__link {
    font-size: 18px;
  }
  .order {
    padding-inline: 0;
    background-color: #F9F2EA;
    flex-direction: row;
    height: 70vh;
    gap: 60px;
  }
  .order__card {
    background-color: white;
    padding: 0 95px 0;
    height: 420px;
  }
  .order__image {
    width: 70px;
  }
  .small-ad {
    height: 44vh;
    padding-bottom: 90px;
    gap: 0;
  }
  .small-ad__upper {
    font-size: 80px;
  }
  .small-ad__lower {
    font-size: 80px;
  }
  .favorites {
    padding: 50px 0 30px;
  }
  .favorites__text-container {
    margin-bottom: 65px;
  }
  .favorites__container {
    gap: 40px;
    transform: translateY(70%);
    opacity: 0;
  }
  .favorites__card {
    gap: 20px;
  }
  .favorites__product-name {
    font-size: 22px;
  }
  .favorites__button {
    margin-top: 90px;
    width: 230px;
    height: 60px;
  }
  .favorites__link {
    font-size: 18px;
  }
  .animate {
    animation: moveCardsUp 0.7s ease-out forwards;
  }
  @keyframes moveCardsUp {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .special {
    height: 80vh;
    padding: 90px 80px;
  }
  .special__main-container {
    gap: 40px;
  }
  .special__text-container {
    gap: 30px;
  }
  .special__star {
    width: 52px;
  }
  .special__main-text {
    font-size: 40px;
    width: 222px;
  }
  .special__text {
    font-size: 22px;
  }
  .special__paragraph {
    font-size: 18px;
    width: 350px;
    line-height: 30px;
  }
  .delivery {
    height: 60vh;
    padding: 0 80px 0;
    background-color: #F9F2EA;
  }
  .delivery__main-container {
    background-position: 0px 50px;
  }
  .delivery__text-container {
    width: 47%;
    margin-left: auto;
    margin-right: 20px;
    padding: 60px 46px 30px;
    gap: 26px;
  }
  .delivery__header {
    font-size: 40px;
  }
  .delivery__subtitle {
    font-size: 22px;
    line-height: 30px;
  }
  .delivery__paragraph {
    font-size: 18px;
    line-height: 30px;
  }
  .delivery__order-btn {
    height: 62px;
    width: 230px;
    margin-top: unset;
  }
  .delivery__link {
    font-size: 18px;
  }
  .slider {
    padding: 110px 80px 40px;
    position: relative;
  }
  .slider__header {
    font-size: 40px;
  }
  .slider__grid-container {
    width: 100%;
    overflow-x: auto;
    grid-template-columns: repeat(8, 27vw);
    grid-auto-rows: minmax(0, 27vw);
    scroll-behavior: smooth;
  }
  .slider__grid-container::-webkit-scrollbar {
    display: none;
  }
  .slider__arrow-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 32%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .slider__arrow-container--right {
    right: 110px;
  }
  .slider__arrow-container--left {
    left: 110px;
  }
  .slider__arrow {
    font-size: 20px;
    font-weight: 200;
    transform: scaleY(1.8);
  }
}/*# sourceMappingURL=style.css.map */