@media screen and (min-width: 320px) {
  .delivery-method {
    height: 50svh;
    background-color: #FBE690;
    padding: 30px 20px 30px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .delivery-method__header {
    color: var(--main-color);
    font-family: barlow;
    font-weight: 600;
    font-size: 42px;
  }
  .delivery-method__active-container {
    background-color: white;
    border-radius: 100px;
    padding: 9px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .delivery-method__green-dot {
    background-color: #43B72A;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  .delivery-method__active-text {
    font-weight: 200;
    font-size: 14px;
  }
  .delivery-method__delivery-method-container {
    height: 46px;
    width: 220px;
    border: 1px solid black;
    display: flex;
  }
  .delivery-method__red-btn {
    height: 100%;
    border: none;
    background-color: var(--main-color);
    width: 50%;
    font-weight: 200;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  .delivery-method__transparent-btn {
    width: 50%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;
  }
  .delivery-method__details-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
  }
  .delivery-method__time-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .delivery-method__text {
    font-size: 14px;
    font-weight: 200;
  }
  .delivery-method__change {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .delivery-method__change:hover {
    color: black;
    transition: 0.3s;
  }
  .menu {
    min-height: 100svh;
    background-color: #F9F2EA;
    padding: 20px 20px 30px;
  }
  .menu__categories {
    margin-inline: auto;
    list-style: none;
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 30px;
  }
  .menu__categories::-webkit-scrollbar {
    display: none;
  }
  .menu__category {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.2s;
    padding-bottom: 5px;
  }
  .menu__category:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
  }
  .menu__category--active {
    border-bottom: 2px solid var(--main-color);
  }
  .menu__category--active:hover {
    color: black;
  }
  .menu__filter-text-container {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-left: 70%;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  .menu__filter-text-mobile {
    font-weight: 400;
    font-family: barlow;
  }
  .menu__dark-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: black;
    opacity: 0;
    transform: translateX(-100%);
    z-index: 11;
    transition: opacity 0.4s, transform 4s;
  }
  .menu__dark-bg--active {
    transform: translateX(0);
    opacity: 0.5;
    transition: opacity 0.4s, transform 0.01s;
  }
  .menu__container {
    display: inline-grid;
    width: 50%;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 90vw);
  }
  .menu__card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu__image {
    width: 100%;
    height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu__lower-side {
    height: 40%;
  }
  .menu__products-container {
    width: 100%;
  }
  .menu__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 144vw);
    gap: 30px;
    margin-top: 30px;
  }
  .menu__product-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .menu__product-image {
    width: 100%;
    height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu__product-lower-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu__product-name {
    padding-inline: 10px;
    text-align: center;
    font-family: barlow;
  }
  .menu__vegnut-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px 50px;
  }
  .menu__product-vegeterian {
    font-weight: 300;
  }
  .menu__product-nuts {
    font-weight: 300;
  }
  .menu__product-spiciness {
    margin-left: 10px;
    font-weight: bold;
    color: rgb(124, 11, 11);
  }
  .menu__product-price {
    margin-left: 10px;
    font-size: 20px;
    font-family: barlow;
    color: rgb(1, 94, 1);
  }
  .menu__cart-btn {
    display: block;
    margin-top: auto;
    background-color: rgb(124, 11, 11);
    border: none;
    border-top: 1px solid black;
    height: 40px;
    color: #F9F2EA;
    font-weight: 300;
    cursor: pointer;
    font-family: barlow;
  }
  .mobile-filter {
    width: 80%;
    height: 100dvh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    overflow-y: auto;
    padding: 20px;
    display: block;
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  .mobile-filter--active {
    transform: translateX(0);
    transition: transform 0.4s;
  }
  .mobile-filter__upper-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 163, 163);
    padding-bottom: 15px;
  }
  .mobile-filter__filter-btn {
    background-color: white;
    border: none;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
  }
  .mobile-filter__reset-btn {
    border: none;
    background-color: white;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
  }
  .mobile-filter__filters {
    padding: 15px 0 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .mobile-filter__checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .mobile-filter__label {
    font-size: 18px;
    font-family: barlow;
  }
  .mobile-filter__number {
    outline: none;
    width: 30px;
    font-size: 16px;
    font-weight: 200;
  }
  .mobile-filter__select {
    font-weight: 400;
    font-family: barlow;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  .desktop-filter {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .menu__container {
    grid-auto-rows: minmax(0, 120vw);
  }
  .menu__product-lower-side {
    gap: 15px;
  }
  .menu__vegnut-container {
    padding-inline: 20px 60px;
  }
  .menu__product-vegeterian {
    font-size: 18px;
  }
  .menu__product-nuts {
    font-size: 18px;
  }
  .menu__product-spiciness {
    margin-left: 20px;
    font-size: 18px;
  }
  .menu__product-price {
    margin-left: 20px;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .delivery-method {
    padding: 30px 40px 30px;
  }
  .delivery-method__header {
    font-size: 60px;
  }
  .menu {
    padding: 20px 40px 30px;
  }
  .menu__categories {
    width: 100%;
  }
  .menu__filter-text-container {
    margin-left: 85%;
  }
  .menu__container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, 68vw);
  }
  .mobile-filter {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .delivery-method {
    height: unset;
    padding: 30px 60px 50px;
  }
  .delivery-method__header {
    font-size: 120px;
  }
  .delivery-method__delivery-method-container {
    width: 340px;
  }
  .delivery-method__text {
    font-size: 16px;
  }
  .menu__categories {
    gap: 30px;
  }
  .menu__category {
    font-size: 16px;
  }
  .menu__filter-text-container {
    display: none;
  }
  .menu__dark-bg {
    display: none;
  }
  .menu__products-container {
    width: 100%;
    display: flex;
  }
  .menu__container {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, 42vw);
  }
  .menu__product-name {
    white-space: nowrap;
  }
  .menu__vegnut-container {
    padding-inline: 20px 20px;
  }
  .menu__cart-btn {
    font-size: 18px;
  }
  .mobile-filter {
    display: none;
  }
  .desktop-filter {
    display: block;
    width: 20%;
    height: 100vh;
    margin-top: 30px;
    margin-right: 40px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(158, 158, 158);
  }
  .desktop-filter__upper-side {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop-filter__filter-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  .desktop-filter__reset-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  .desktop-filter__filters {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .desktop-filter__checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .desktop-filter__label {
    cursor: pointer;
    font-size: 16px;
  }
  .desktop-filter__number {
    width: 29px;
    font-size: 16px;
    outline: none;
  }
  .desktop-filter__select {
    font-size: 16px;
    padding: 5px;
    outline: none;
    font-weight: 300;
  }
}
@media screen and (min-width: 1324px) {
  .menu__container {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, 38vw);
  }
}/*# sourceMappingURL=order.css.map */